.headerContainer{
    width: 90%;
    height: 25vh;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textGreen{
    font-weight: 900;
    font-size: 4rem;
    color: #32ca6c ;
}
.textBlack{
    font-weight: 900;
    font-size: 4rem;
    color: black   
}

